/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(/survloop/fonts/cairo-arabic.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(/survloop/fonts/cairo-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(/survloop/fonts/cairo-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body, p, div, table tr td, table tr th, input, textarea, select {
	font-family: 'Cairo', sans-serif;
}
b, h1, h2, h3, h4, h5, h6 {
	font-family: 'Cairo', sans-serif;
}


input.fingerTxt, input.form-control.fingerTxt, 
textarea.fingerTxt, textarea.form-control.fingerTxt, 
select.fingerTxt, select.form-control.fingerTxt {
    /* font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; */
    color: #000;
}

label.finger, label.fingerAct, .finger:hover, input.finger:hover+label {
    /* font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; */
    color: #000;
}
label.fingerAct, label.fingerAct:active, input.fingerAct:active+label, 
label.fingerAct:hover, input.fingerAct:hover+label, label.finger:active, input.finger:active+label {
    color: #2b3493;
}

.fontBasker, .fontBasker div, .fontBasker div div {
    /* font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; */
}


.nPrompt ul {
    list-style-image: url("http://openpolicereport.org/survloop/dot.png");
}


.allegation, h1.allegation, h2.allegation, h3.allegation, h4.allegation, 
a.allegation:link, a.allegation:visited, a.allegation:active, a.allegation:hover {
	color: #ec2327;
	font-size: bold;
	/* text-shadow: 0px -1px 0px #f38c5f; */
} /* ec2327  f38c5f */

.goldLevel {
	color: #fccb4f;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
}

.volunChecklistWrap {
	padding: 20px;
	border: 1px #63c6ff dotted;
	-moz-border-radius: 20px; border-radius: 20px;
	font-size: 16pt;
	line-height: 28px;
}
ol.volunChecklist {
	
}
ol.volunChecklist li {
	position: relative;
	font-size: 16pt;
	line-height: 28px;
	padding-bottom: 25px;
}
ol.volunChecklist li b, .volunChecklistWrap b {
	font-size: 110%;
}
ol.volunChecklist input {
	position: absolute;
	top: 3px;
	left: -40px;
}


table.complaintTbl {
	width: 100%;
}
table.complaintTbl tr th {
	font-weight: bold;
	border-bottom: 1px #63c6ff solid;
}
table.complaintTbl tr th, table.complaintTbl tr td {
	padding: 5px;
	text-align: left;
	vertical-align: top;
}
table.complaintTbl tr td.botBrd {
	border-bottom: 1px #bbe6ff dotted;
}

